
#social_container {
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.social {
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.social_button {
    font-size: 3rem;
    /*color: rgba(255, 255, 255, 0.6);*/
}

.social:hover > i, .social:focus > i, .social:active > i {
    -webkit-animation-name: hvr-bob-float-top, hvr-bob-top;
    animation-name: hvr-bob-float-top, hvr-bob-top;
}

.social_text {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 500;
}

#contact textarea {
    height: 150px;
    resize: vertical;
}

#social_container {
    /*background-color: rgba(0, 0, 0, 0.7);*/
    padding: 60px 0;
    border-top: 1px solid #eee;;
}

#contact {
    padding-bottom: 0;
    border-bottom: none;
}

#contact_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    visibility: hidden;
    -moz-transition: visibility, background-color;
    -webkit-transition: visibility, background-color;
    -o-transition: visibility, background-color;
    transition: visibility, background-color;
    transition-duration: 0.3s;
}

.sending #contact_overlay {
    visibility: visible;
    background-color: rgba(255, 255, 255, 0.9);
}

.spinner {
    width: 80px;
    height: 80px;
    background-color: #1EAEDB;

    margin: 100px auto 10px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

.success .spinner,
.error .spinner {
    -webkit-animation: sk-rotateplane 1.2s ease-in-out !important;
    animation: sk-rotateplane 1.2s ease-in-out !important;
}

#contact {
    overflow: hidden;
}

#sending_content {
    position: relative;
    top: -500px;
    transition: height, left;
    -moz-transition: top, left;
    -webkit-transition:top, left;
    -o-transition: top, left;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    transition-delay: 0.5s;
}

.sending #sending_content {
    top: 0;
}

.move_out #sending_content {
    top: -500px;
}

#sending_text:before {
    content: "Sending Email...";
}

.success #sending_text:before {
    content: "Email sent!";
}

.error #sending_text:before {
    content: "There was an error.";
}

#contact .container {
    margin-bottom: 40px;
}

#contact a:hover {
    color: #333;
}