
.company {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#education .row,
#experience .row {
    margin-bottom: 40px;
}

#education .position,
#experience .position {
    font-weight: 600;
    text-transform: uppercase;
}

.company .title {
    font-weight: 600;
    font-size: 1.8rem;
    text-transform: uppercase;
}


.company .location .fa {
    margin: 0 5px;
}