#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

#home_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    flex-grow: 1;
}

#home_content i {
    color: #1EAEDB;
}


@media (max-width: 650px) {
    #home {
        height: 150px;
    }

    #home h2 {
        font-size: 2.5rem;
    }
}